<?xml version="1.0" encoding="UTF-8"?>

<Element>
	<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
		 <servlet>
			<servlet-name>register</servlet-name>
			<servlet-class>com.controller.userRegistration</servlet-class>
		 </servlet>
		 <servlet-mapping>
		 	<servlet-name>register</servlet-name>
		 	<url-pattern>/userRegistration</url-pattern>
		 </servlet-mapping>
		 
		  <servlet>
			<servlet-name>Login</servlet-name>
			<servlet-class>com.controller.userLogin</servlet-class>
		 </servlet>
		 <servlet-mapping>
		 	<servlet-name>Login</servlet-name>
		 	<url-pattern>/userLogin</url-pattern>
		 </servlet-mapping>
	
	</web-app>
</Element>

